html{
    
    font-family: 'Changa One', cursive;
}
header,nav,section,aside,footer,article{
    display:block;
}
body{
    width: 1000px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    background-color: #B9B9B9;
}


#logo-container{
    border-radius: 50%; 
    margin-left: 40px;
    font-size: 35px;
}
#login-image{
    float: left;
    width: 62px;
    height: auto;
    border-radius: 50%;
    margin-top: 14px;
}
#logo-name{
    float: left;
    margin-top: 20px;
    margin-left: 5px;
}
#guruTitle{
    font-family: 'Changa One', cursive;
    font-size: 40px;
    color: #1ab26d;
    text-shadow: 0px 2px 3px #555;
    margin-left: 5px;
}
#oneZeroTitle{
    font-family: 'Dosis', sans-serif;
    color:white;
}
#navigation-container{
    float: right;
    width: 600px;
    margin-top: 30px;
}

#navigation{
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
}

.head-nave{

background-color: #ff6025;

height: 92px;
margin-top: 0;
width: 99%;
position: fixed;
z-index: 1;
margin-left: auto;
margin-right:auto;
padding-top:15px;
}
.borderStyle{
    -moz-border-radius: 0px 0px 10px 10px;
-webkit-border-radius: 0px 0px 10px 10px;
border-radius: 0px 0px 10px 10px;
-moz-box-shadow: 0px 0px 6px #000000;
-webkit-box-shadow: 0px 0px 6px #000000;
box-shadow: 0px 0px 6px #000000;
}

header.small {height:82px;}
header.small #login-image{width:50px;}
#navigation li{
    float:right;
}
#navigation  li a {
    
    display: block;
    /*padding: 5px 25px 7px 25px;*/
    padding: 5px 5px 5px 5px;
    -webkit-transition: 1s all ease;
    -moz-transition: 1s all ease;
    transition: 1s all ease;
    border-bottom: 3px solid rgb(42,43,44);
    color: white;
    text-decoration: none;
}
#navigation li.active a {
    border-bottom: 3px solid green;
   
    
}


#navigation a:hover {
    color: #000;
}



.nav-item{
    margin-right:20px;
}


a:link{
    text-decoration:none;
    color:white;
}

a:visited{
    text-decoration:none;
    color:rgb(81,156,225);
}

a:hover{
    text-decoration:none;
    color: rgb(151,181,211);
}

a:active{
    text-decoration:none;
}
#horizontalLine{
    margin: 0px;
    width: 100%;
    height: 12px;
    background-color: rgb(168,160,143);
}
#main-body{
    margin-top: 79px;
    width: 100%;
    height: 2010px;
    background-color: #FAF7F7;
    border: 2px solid #999999;
    -moz-border-radius: 5px 5px 10px 10px;
    -webkit-border-radius: 5px 5px 10px 10px;
    border-radius: 5px 5px 10px 10px;
    -moz-box-shadow: 0px 0px 25px 2px #000000;
    -webkit-box-shadow: 0px 0px 25px 2px #000000;
    box-shadow: 0px 0px 25px 2px #000000;
    color: #ff6025;
    font-weight: bolder;
    font-family: 'Dosis', sans-serif;
    font-size: 17px;
}
#top-slideShow{
  border:1px red solid;
  min-height: 310px;
}

.slideImgSize{
   width:100%;
   height:auto;
}

#footer-container{
    width: 100%;
    height: 30px;
    text-align: center;
    background-color: #B9B9B9;
    color: #ff6025;
    -moz-border-radius: 10px;
    -moz-box-shadow: 0px 0px 4px #000000;
    text-shadow: 1px 3px 4px #555;
    margin-top: 15px;
}

#content-container{
    margin-top:80px;
}
#imagePopupContainer{
   width: 90%;
    /*border: red solid 1px;*/
    height: 436px;
    margin-top: 29px;
    margin-left: auto;
    margin-right: auto;
}
#imageWebPopup{
    width: 100%;
    height: 100%;
}
#imageThumbPopupContainer{
  position: absolute;
margin-top: -78px;
/*border: red 1px solid;*/
width: 85%;
/* padding-left: 5px; */
height: 76px;
margin-left: 38px;
margin-right: auto;
}
.thumbPopupCarosel{
    width:11%;
    height:auto;
}
.bigThumbPopupCarosel{
    width:14%;
    height:auto;
}
.smallThumbPopupCarosel{
    width:10%;
    height:auto;
}
#imageLi{
   
    margin-top: 9px;
    padding-top: 9px;

    text-align: center;
   
}
#webContainerTitle{
    width: 95%;
    height: 38px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    font-family: 'Changa One', cursive;
    font-size: 43px;
    padding-left: 45px;
    color: #ff6025;
    text-shadow: 1px 3px 4px #555;
    padding-bottom: 15px;
    background-color: #1ab26d;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 0px 0px 4px #000000;
    -webkit-box-shadow: 0px 0px 4px #000000;
    box-shadow: 0px 0px 4px #000000;
}
#what-we-provide-container{
    height: 500px;
    width: 86%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
#websiteList-container{
    width: 98%;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}
#personal-website-container{
    width: 25%;
    height: auto;
    float: left;
    margin-left: 30px;
}
#smallBusiness-website-container{
    width: 25%;
    height: auto;
    float: left;
    margin-left: 30px;
}
.website-home-image{
    width: 100%;
    height: auto;
}
.website-introduction-container{
    width: 100%;
    height: 150px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 0px 0px 4px #000000;
    -webkit-box-shadow: 0px 0px 4px #000000;
    box-shadow: 0px 0px 4px #000000;
    background-color: #1ab26d;
}
.website-text-header{
    padding-top: 10px;
    padding-left: 40px;
    font-size: 22px;
    font-weight: 500;
    color: #ff6025;
    text-shadow: 1px 3px 4px #555;
}
.website-text-introduction{
    padding-left: 40px;
    margin-top: 18px;
    color: whitesmoke;
}
#contact-Detail-container{
    margin-top: 25px;
}
#contact-container{
    width: 100%;
    height: 500px;
    margin-top: 475px;

}
#contactLabel{
    width: 95%;
    height: 38px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    font-family: 'Changa One', cursive;
    font-size: 43px;
    padding-left: 45px;
    color: #ff6025;
    text-shadow: 1px 3px 4px #555;
    padding-bottom: 15px;
    background-color: #1ab26d;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 0px 0px 4px #000000;
    -webkit-box-shadow: 0px 0px 4px #000000;
    box-shadow: 0px 0px 4px #000000;
}

#contactDetail{
    width: 30%;
    float: left;
    padding-left: 45px;
    border-right-style: dashed;
    border-right-color: white;
    border-right-width: thin;
    height: 350px;
    font-weight: bolder;
}
#contact-info{
    color: rgb(83,75,59);
    font-size: 34px;
    margin-top: 86px;
}
#contact-phone{
    font-size: 16px;
    font-weight: 400;
    padding-top: 26px;
}
#contact-email{
    font-size: 16px;
    font-weight: 400;
    padding-top: 2px;
}
#form-container{
    width: 90%;
    margin-left:auto;
    margin-right:auto;
}
#form-icon{
    width: 43px;
    height: auto;
    border-radius: 50%;
    float: left;
}
#form-message{
   
    font-size: 26px;
    margin-bottom: 18px;
    font-weight: bolder;
    color: rgb(83,75,59);  
    margin-top: 11px;

    margin-left: 51px; 
}

#sendButton{
    width: 180px;
    height: 35px;
    font-size: 20px;
    /* border: 1px solid white; */
    color: white;
    background-color: #1ab26d;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 5px;
    -moz-box-shadow: 0px 0px 4px #000000;
    -webkit-box-shadow: 0px 0px 4px #000000;
    box-shadow: 0px 0px 4px #000000;
    margin-top: 20px;
    margin-left: 10px;
    float: right;
}

#clearButton{
    width: 180px;
    height: 35px;
    font-size: 20px;
   
    color: #1ab26d;
    background-color: white;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 5px;
    -moz-box-shadow: 0px 0px 4px #000000;
    -webkit-box-shadow: 0px 0px 4px #000000;
    box-shadow: 0px 0px 4px #000000;
    margin-top: 20px;
    margin-left: 10px;
    float: left;
}
.form-input{

}
#WebContainer{
    
    
}

#fnameFormInput{
    width: 300px;
    height: 30px;
    font-size: 20px;
    color: #1ab26d;
    background-color: white;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 5px;
    -moz-box-shadow: 0px 0px 4px #000000;
    -webkit-box-shadow: 0px 0px 4px #000000;
    box-shadow: 0px 0px 4px #000000;
    margin-top: 20px;
}
#lnameFormInput{
    width: 300px;
    height: 30px;
    font-size: 20px;
    color: #1ab26d;
    background-color: white;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 5px;
    -moz-box-shadow: 0px 0px 4px #000000;
    -webkit-box-shadow: 0px 0px 4px #000000;
    box-shadow: 0px 0px 4px #000000;
    margin-top: 20px;
}
#emailFormInput{
    width: 300px;
    height: 30px;
    font-size: 20px;
    color: #1ab26d;
    background-color: white;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 5px;
    -moz-box-shadow: 0px 0px 4px #000000;
    -webkit-box-shadow: 0px 0px 4px #000000;
    box-shadow: 0px 0px 4px #000000;
    margin-top: 20px;
}
#phoneFormInput{
    width: 300px;
    height: 30px;
    font-size: 20px; 
    color: #1ab26d;
    background-color: white;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 5px;
    -moz-box-shadow: 0px 0px 4px #000000;
    -webkit-box-shadow: 0px 0px 4px #000000;
    box-shadow: 0px 0px 4px #000000;
    margin-top: 20px;

}
#bnameFormInput{
    width: 300px;
    height: 30px;
    font-size: 20px;
    color: #1ab26d;
    background-color: white;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 5px;
    -moz-box-shadow: 0px 0px 4px #000000;
    -webkit-box-shadow: 0px 0px 4px #000000;
    box-shadow: 0px 0px 4px #000000;
    margin-top: 20px;
}
#messageFormInput{
    width: 533px;
    height: 200px;
    font-size: 20px;
    color: #1ab26d;
    background-color: white;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 5px;
    -moz-box-shadow: 0px 0px 4px #000000;
    -webkit-box-shadow: 0px 0px 4px #000000;
    box-shadow: 0px 0px 4px #000000;
    margin-top: 20px;
}

#leftFormColumn{
    float: left;
    width: 40%;
    height: 350px;
}
#rightFormColumn{
    float: right;
    width: 60%;
    height: 350px;
}



#popup-play-button-div{
    position: absolute;
    top: 0px;
}
#popup-stop-button-div{
    position: absolute;
    top: 0px;
    right:0px;
}
#popup-active-button{
    width: 27px;
height: 35px;
padding-left: 12px;
padding-top: 16px;
padding-right: 12px;
border-radius: 50%;
pdding-top: 5px;
color: white;
background-color: darkred;
font-size: 12px;
}


