

.slider {
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
    background: #e6e6e6;
    border: 0px solid #FFF;
    -webkit-box-shadow: 0px 0px 9px #000000;
    -webkit-border-radius: 4px;
   
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
}

.arrow {
    position: absolute;
    z-index: 1002;
    display: block;
    top: 50%;
    margin-top: -35px;
    width: 36px;
    height: 71px;
    outline: none;
    cursor: pointer;
    background: url(../assets/img/blank.gif) no-repeat;
}

.arrow.prev {
    opacity: 0.2;
    left: 20px;
    background-image: url(../assets/img/paddle_prev_999.png);
    transition: 0.2s linear all;
}

.arrow.next {
    opacity: 0.2;
    right: 20px;
    background-image: url(../assets/img/paddle_next_999.png);
    transition: 0.2s linear all;
}

.arrow.prev:hover {
    opacity: 1;
    background-image: url(../assets/img/paddle_prev_fff.png);
}

.arrow.next:hover {
    opacity: 1;
    background-image: url(../assets/img/paddle_next_fff.png);
}



/*---------------------------------------------------------
NAV
---------------------------------------------------------*/

nav#nav-carousel {
    text-align: center;
    display: block;
    position: absolute;
    z-index: 1002;
    left: 0;
    bottom: -4px;
    right: 0;
    height: 48px;
}

.nonDraggableImage{
    -webkit-user-drag: none;
}

nav#nav-carousel .wrapper {
    margin: 0 auto;
    width: 100%;
    padding: 1em 0 .8em;
}

nav#nav-carousel ul {
    margin: 0;
    width: 100%;
}

nav#nav-carousel .dot, nav#nav-carousel .dot a {
    display: inline-block;
    zoom: 1;
}

.dots .dot {
    position: relative;
    margin: 0 8px;
    width: 12px;
    height: 12px;
}

.dots .dot a {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 6px;
    height: 6px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background: #FFF;
    border: 1px solid transparent;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: background-color 0.25s, border-color 0.25s;
    -moz-transition: background-color 0.25s, border-color 0.25s;
    transition: background-color 0.25s, border-color 0.25s;
}

.dots .dot a.active {
    border-color: #FFF;
    background-color: transparent;
}
.Next-Pre-Button{

margin-top: 2%;
margin-bottom: 2%;
width: 74px;
height: 31px;
border-radius: 9px;
background-color: greenyellow;
color: crimson;
font-weight: bolder;
}
.carlNextButton{
    float:left;
    margin-left: 5%;
}
.carlPreButton{
    float:right;
    margin-right:5%;
}


#imageWebPopup{
    width: 100%;
    height: 100%;
}